.charts-content {
	width: 100%;
	padding: 24px;
	text-align: center;
}

.react-grid-item:not(.react-grid-placeholder) {
	// background: #ccc;
	border: 1px solid transparent;
}
.react-grid-item:hover {
	border: 1px solid #ccc;
}